body{
    background-color: #163051;
    overflow-x: hidden;
}

form{
    position: relative;
    top: 8vh;
    /*padding-left: 5vw;*/
    /*padding-right: 5vw;*/
}

#row1{
    height: 25vh;
}

#tb3{
    position: relative;
    bottom: 0;
    margin-top: 7vh;
}

.form-control{
    background-color: transparent;
    color: white;
}

#total{
    color: white;
    background-color: transparent;
    font-size: 25px;
    font-family: cursive;
}

#tot{
    color: white;
    font-size: 25px;
    position: relative;
    left: 50px;
    padding: 0;
    top: 5px;
    margin: 0;
    width: 130px;
}


#subTotal{
    color: white;
    background-color: transparent;
    font-size: 25px;
    font-family: cursive;
    width: 150px;
}

#subTot{
    color: white;
    font-size: 25px;
    position: relative;
    /*left: 2vw;*/
    padding: 0;
    /*top: 0;*/
    margin: 0;
    width: 130px;
}

#subTotDiv{
    position: relative;
    top: 5px;
    /*left: 11vw;*/
    /*padding-left: 11vw;*/
    width: 135px;
}

#divTot{
    width: 200px;
    /*padding-left: 2vw;*/
}

#divSubTot{
    position: relative;
    top: -10px;
}

#cusId3{
    /*background-color: #03045e;*/
}

label{
    color: white;
    background-color: transparent;
}

#divDis{
    position: relative;
    top: -10px;
}

#divCash{
    position: relative;
    top: -10px;
}

#divBal{
    position: relative;
    top: -10px;
}

#imgOrder{
    height: 49vh;
}

@media all and (max-width: 1200px){
    #imgOrder{
        position: absolute;
        left: 635px;
    }
}

@media all and (max-width: 992px){
    #imgOrder{
        display: none;
    }
}


@media all and (max-width: 575px){
    #totDiv{
        top: -45px;
        left: 100px;
        width: 0;
        height: 0;
    }

    #tot{
        /*display: none;*/
        top: -45px;
        left: 100px;
    }
}

/*#floatingId{*/
/*    background-color: transparent;*/
/*}*/

/*#floatingName{*/
/*    background-color: transparent;*/
/*}*/

/*#floatingContact{*/
/*    background-color: transparent;*/
/*}*/

/*#floatingAdd{*/
/*    background-color: transparent;*/
/*}*/




/*.row{*/
/*    position: relative;*/
/*    top: 100vh;*/
/*}*/

/*input{*/
/*    height: 25vh;*/
/*}*/
















/*!*#imgCus{*!*/
/*!*    position: absolute;*!*/
/*!*    left: 30vw;*!*/
/*!*    top: 12vh;*!*/
/*!*}*!*/

/*#tb1{*/
/*    position: absolute;*/
/*    !*top: 65vh;*!*/
/*    bottom: 0;*/
/*}*/

/*#form1{*/
/*    position: absolute;*/
/*    !*right: 6vw;*!*/
/*    top: 11vh;*/
/*    left: 1vw;*/
/*    display: inline-flex;*/
/*}*/

/*#frame1{*/
/*    position: absolute;*/
/*    width: 43vw;*/
/*    height: 50vh;*/
/*    border: 1px solid white;*/
/*    top: 11vh;*/
/*    left: 0.5vw;*/
/*    padding: 1vw;*/
/*}*/

/*#frame2{*/
/*    position: absolute;*/
/*    width: 37vw;*/
/*    height: 50vh;*/
/*    border: 1px solid white;*/
/*    top: 11vh;*/
/*    left: 44vw;*/
/*    padding: 1vw;*/
/*}*/

/*#frame3{*/
/*    position: absolute;*/
/*    width: 18vw;*/
/*    height: 50vh;*/
/*    border: 1px solid white;*/
/*    top: 11vh;*/
/*    right: 0.5vw;*/
/*    padding: 1vw;*/
/*}*/

/*.form-floating{*/
/*    !*width: 15vw;*!*/
/*    !*height: 7vh;*!*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*}*/

/*button{*/
/*    position: relative;*/
/*    left: 2vw;*/
/*}*/